<div id="<%= dom_id code_retreat_session %>">
  <p>
    <strong>Performed on:</strong>
    <%= code_retreat_session.performed_on %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= code_retreat_session.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= code_retreat_session.description %>
  </p>

</div>
