<h1>Editing code retreat session</h1>

<%= render "form", code_retreat_session: @code_retreat_session %>

<br>

<div>
  <%= link_to "Show this code retreat session", @code_retreat_session %> |
  <%= link_to "Back to code retreat sessions", code_retreat_sessions_path %>
</div>
